* { box-sizing: border-box }

.box-model .padding {
    outline: 1px solid #51d8f0;
}

.box-model .margin {
    outline: 1px solid #51d8f0;
}

.box-model .margin div {
    background-image: url('margin-bg.png');
}

.box-model .content {
    outline: 1px solid #51d8f0;
}

.box-model .content div {
    background-color: rgba(81, 216, 240, .2);
    background-image: url('padding-bg.png');
}
